:root {
  --color-primary: #000;
  --color-secondary: #958471;
  --color-secondary-light: #ECE3D8;
  --color-white: #fff;

  --font-primary: "Lato", sans-serif;
  --weight-bold: 900;
  --weight-medium: 400;
  --weight-light: 300;

  --border-weight: 2px;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-weight: var(--weight-bold);
  color: var(--color-primary);
}

h2 {
  font-weight: var(--weight-bold);
  color: var(--color-primary);
}

h3 {
  font-weight: var(--weight-bold);
  color: var(--color-primary);
}

h4 {
  font-weight: var(--weight-medium);
  color: var(--color-primary);
}

h5 {
  font-weight: var(--weight-medium);
  color: var(--color-primary);
}

.btn {
  color: var(--color-primary);
  border-weight: var(--border-weight);
  background-color: none;
  font-weight: var(--weight-medium);
}

.btn:hover {
  color: #fff;
  background-color: var(--color-secondary);
}

nav {
  font-weight: var(--weight-light);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover{
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-secondary);
  color: #fff;
}
