:root {
  --color-primary: #000;
  --color-secondary: #958471;
  --color-secondary-light: #ECE3D8;

  --font-primary: "Lato", sans-serif;
  --font-bold: 900;
  --font-medium: 400;
  --font-light: 300;

  --border-weight: 2px;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

h2 {
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

h3 {
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

h4 {
  font-weight: var(--font-medium);
  color: var(--color-primary);
}

h5 {
  font-weight: var(--font-medium);
  color: var(--color-primary);
}

.btn {
  color: var(--color-primary);
  border-weight: var(--border-weight);
  background-color: none;
  font-weight: var(--font-medium);
}

.btn:hover {
  color: #fff;
  background-color: var(--color-secondary);
}

nav {
  font-weight: var(--font-light);
}
