.btn {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: #fff;
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: #fff;
  color: #fff;
}

.btn-light {
  background-color: transparent;
  color: var(--color-primary);
}

.btn-light:hover {
  opacity: 0.3;
  background-color: var(--color-secondary);
  border-color: #fff;
  color: #fff;
}
