.cart-total {
  background-color: var(--color-secondary);
}

.white-text {
  color: var(--color-white);
}

.align-right {
  text-align: right;
}

.padding-left {
  padding-left: 20px;
}

.promo-banner-bg {
  background-color: var(--color-secondary);
  color: #fff;
}

.promo-border {
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
}
