<div>
  <nav class="" role="navigation" id="nav" tabindex="0">
    <ul class="grid nav list-group-inline">
      <li class="unit island-half nav mega bold xs-1 s-1 m-1 l-1-6"><a class="ib" href ="/">J'Adorn</a></li>
      <li class="unit island-half nav xs-1-5 s-1-5 m-1-5 l-1-6 {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="ib" href="/">Home</a></li>
      <li class="unit island-half nav xs-1-5 s-1-5 m-1-5 l-1-6 {% if page.highlight_nav == 'shop' %}current{% endif %}"><a class="ib" href="/#categories">Shop</a></li>
      <li class="unit island-half nav xs-1-5 s-1-5 m-1-5 l-1-6 {% if page.highlight_nav == 'sale' %}current{% endif %}"><a class="ib" href="#">Sale</a></li>
      <li class="unit island-half nav xs-1-5 s-1-5 m-1-5 l-1-6 {% if page.highlight_nav == 'collections' %}current{% endif %}"><a class="ib" href="#">Collections</a></li>
      <li class="align-right unit island-half nav xs-1-5 s-1-5 m-1-5 l-1-6 {% if page.highlight_nav == 'shopping bag' %}current{% endif %}"><a class="ib" href="#"><i class="icon i-32"><svg><use xlink:href="/images/icons.svg#shopping-bag"</use></svg></i></a></li>
    </ul>
  </nav>
</div>
